<header class="mb-8 sm:mb-12">
  <div class="text-center p-3 max-w-screen-lg m-auto">
    <div class="sm:float-left">
      <h1 class="font-bold m-0" style="font-family: 'Lobster', cursive;">Gaunt</h1>
    </div>
    <div class="my-6 sm:hidden"></div>
    <div class="sm:float-right m-auto capitalize leading-none transform translate-y-2 text-gray-700">
      <ul>
        <li class="inline-block mr-2 sm:mr-8 hover:text-black"><a href="/">home</a></li>
        {{ range $.Site.Data.menu.main }}
        <li class="inline-block mr-2 sm:mr-8"><a href="{{.url}}">{{.name}}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</header>